<div class="mt30">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <pre>BlockBuster S.R.L.</pre>
    <mat-form-field appearance="fill" class="w80">
      <mat-label>Usuario</mat-label>
      <input matInput required name="new-user" id="new-user" autocomplete="new-user" formControlName="user"/>
      <app-input-error ngDefaultControl [formControl]="user" label="Usuario"></app-input-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w80">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" id="new-password" autocomplete="new-password" formControlName="password"/>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'HidePassword password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <app-input-error ngDefaultControl [formControl]="password" label="contraseña"></app-input-error>
    </mat-form-field>

    <button type="submit" class="w80" mat-raised-button color="primary" [disabled]="form.invalid">
      Ingresar
    </button>
  </form>
</div>
